{%- set related = collections.content | relatedContent(page.url, tags, 5) %}
{%- if related.length %}
<span class="curve"></span>

<div class="related-posts">
  <h2>Posts relacionados</h2>
  <ul class="blog-posts">
    {%- for item in related %}
    <li>
      <span class="post-date">{{ item.date | shortDate }}</span>
      <a href="{{ item.url }}">{{ item.data.title }}</a>
      <span class="content-type">{{ "Nota" if "notas" in item.data.tags else "Post" }}</span>
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endif %}
