---
layout: base.njk
bodyClass: post
---
<article>
  <h1>{{ title }}</h1>
  {% include "post-meta.njk" %}
  {{ content | safe }}
</article>

<div class="reply-email">
  <a href="https://letterbird.co/rcapitao?subject=Re:%20{{ title | urlencode }}" target="_blank" rel="noopener">Comente por e-mail</a>
</div>
