---
layout: base.njk
title: Home
permalink: /
---
<p>{{ metadata.description }}</p>

<ul class="blog-posts">
  {%- for post in collections.content | limit(5) %}
  <li>
    <span>{{ post.date | shortDate }}</span>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {%- endfor %}
</ul>

<p><a href="/blog/">Ver blog completo →</a></p>
