---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tags/{{ tag }}/"
eleventyComputed:
  title: "Tag: {{ tag }}"
---
<h1>#{{ tag }}</h1>

<p>
  <a href="/tags/{{ tag }}/feed.xml">Feed RSS desta tag</a> ·
  <a href="/tags/{{ tag }}/feed.json">Feed JSON desta tag</a>
</p>

<ul class="blog-posts">
  {%- for post in collections.content %}
  {%- if post.data.tags and tag in post.data.tags %}
  <li>
    <span>{{ post.date | shortDate }}</span>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {%- endif %}
  {%- endfor %}
</ul>
