---
layout: base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tags/{{ tag }}/"
eleventyComputed:
  title: "Tag: {{ tag }}"
---
<h1>#{{ tag }} <a href="/tags/{{ tag }}/feed.xml" class="archive-feed-icon" aria-label="Feed RSS desta tag"><i class="fa-solid fa-rss"></i></a></h1>

{%- if tagDescriptions[tag] %}
<p class="tag-description">{{ tagDescriptions[tag] }}</p>
{%- endif %}

<p>
  <a href="/tags/{{ tag }}/feed.json">Feed JSON desta tag</a>
</p>

<ul class="blog-posts">
  {%- for post in collections.posts %}
  {%- if post.data.tags and tag in post.data.tags %}
  <li>
    <span class="post-date">{{ post.date | shortDate }}</span>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {%- endif %}
  {%- endfor %}
</ul>
