---
layout: base.njk
title: Arquivo
permalink: /arquivo/
---
<h1>Arquivo</h1>

<ul class="blog-posts">
  {%- for post in collections.posts %}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    <span>{{ post.date | readableDate }}</span>
  </li>
  {%- endfor %}
</ul>
