---
layout: base.njk
title: Início
---
<p>{{ metadata.description }}</p>

<ul class="blog-posts">
  {%- for post in collections.posts %}
  <li>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    <span>{{ post.date | readableDate }}</span>
  </li>
  {%- endfor %}
</ul>
