---
layout: base.njk
title: Notas
permalink: "/notas/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
pagination:
  data: collections.notas
  size: 25
  alias: pageNotas
---
{%- set groups = pageNotas | groupPostsByYearMonth %}
<h1>Notas</h1>

{%- for group in groups %}
{%- for month in group.months %}
<div class="archive-month-group">
  <h3 class="bearming-archive-month">{{ month.name }} de {{ group.year }} <span class="bearming-archive-count">({{ month.count }} nota{{ "s" if month.count != 1 }})</span></h3>
  <ul class="blog-posts">
    {%- for post in month.posts %}
    <li>
      <span>{{ post.date | shortDate }}</span>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </li>
    {%- endfor %}
  </ul>
</div>
{%- endfor %}
{%- endfor %}

{% include "pagination-nav.njk" %}
